.modal-content {
    color: black
  }
  
  .divider {
    margin-top: 20px; /* Adjust this for spacing above the divider */
    margin-bottom: 20px; /* Adjust this for spacing below the divider */
  }
